@import '../../assets/style/variables';

.profile__wrapper{
 & > *:not(:last-child) {
    margin-bottom: 40px;
 }

 .profile__main{
    .user__info{
        display: flex;
        gap: 80px;
        align-items: flex-start;
        @media (max-width: 800px){
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
     
    .settings{
        @media (min-width: 800px){
            margin-left: auto;
        }
    }
    .user__avatar{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        .ibg__user{
            width: 160px;
            height: 160px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 50%;
            }
        }
    }
    .user__statistic{
        .username__title{
            svg{
                color: var(--contrast-color-default);
                margin-left: 5px;
            }
            @media (max-width: 800px){
                text-align: center;
            }

        }
        .statictic__info{
            margin-top: 20px;
            display: flex;
            gap: 20px;
            &__item{
             .data{
                text-align: center;
             &.bad{
                color: #AD0606;
             }
             &.normal{
                color: rgb(219, 219, 8);
             }
             &.good{
                color: rgb(10, 237, 10);
             }
             }
            }
        }
    }
    }

 }

 .profile__tabs{
    padding: 40px 20px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--light-background);
    @media (max-width: 1020px){
      overflow-x: scroll;
      overflow-y: hidden;
    }
    &__nav{
        .profile__navlist{
            display: flex;
            gap: 20px;
            li{
                a{
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 16px;
                    padding-bottom: 10px;
                    white-space: nowrap;
                &.active{
                    border-bottom: 2px solid var(--contrast-color-default);
                @media (max-width: 852px) {
                    &.active{
                        color: var(--contrast-color-default);
                    }
                }
                }
                }
            }
        }
    }
 }
}