@import '../../../assets/style/variables';

.main__loader{
display: flex;
flex-direction: column;
gap: 20px;
animation: loading 2s linear infinite alternate;
span{
    width: 250px;
    height: 30px;
    background: var(--hover-background-default);
    border-radius: 5px;
}
}


@keyframes loading{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.2;
    }
}