@import '../../../assets/style/variables';

.range__slider{
  padding: 15px;
  background: var(--light-background);
  border-radius: 10px;
  &__header{
   margin-bottom: 20px;
  }

  &__body{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    input{
      flex: 1 1 auto;
      height: 1px;
      background: white;
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
    &::-webkit-slider-thumb{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--contrast-color-default);
      -webkit-appearance: none !important;
      -moz-appearance: none !important;
      appearance: none !important;
    }
    }
  }
}